
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

:root {
  --green: #00D16C;
  --text-h1: #000000;
  --shape-background: #E2E2EC;
}


body {
  background: var(--shape-background);
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: var(--text-h1);
}

h2 {
  color: var(--text-h1);
}

button {
  cursor: pointer;
}